streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-google-genai
langchain-huggingface
chromadb
faiss-cpu
sentence-transformers
pymysql
mysql-connector-python
sqlalchemy
tiktoken
pandas
plotly
numpy